
#form_container
{
	padding:25px 25px;
	margin-top:15px;
	background:  #FFF5D7;

}
body
{
	background-color: #F4EAD5;
	background-image: url("https://www.davanusala.lv/27633-thickbox_default/quest-room-missiya-riga-shpionskie-igry-no-exitoria-escape-room.jpg");
	background-size: cover;

}

